.footer {
  display: flex;
  flex-direction: column;
  background: #181818;
  align-items: center;
  padding: 20px 40px;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}

.footer-hero {
  position: relative;
}
.footer-hero h1 {
  font-size: 34px;
  font-weight: 700;
}
.footer-navbar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: 18px;
}
.footer-connection img {
  width: 60px;
  height: 60px;
  padding: 10px;
}
.footer hr {
  width: 100vw;
  margin: 0;
  border: none;
  border-top: 1px solid #444;
}
.footer-bottom p {
  font-size: 16px;
  margin-top: -20px;
}
@media (max-width: 768px) {
  .footer-hero h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .footer-navbar {
    font-size: 16px;
  }
  .footer-connection img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .footer-bottom p {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .footer {
    padding: 10px 20px;
    padding-top: 20px;
  }
  .footer-hero h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .footer-navbar {
    font-size: 12px;
  }
  .footer-connection img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .footer-bottom p {
    font-size: 10px;
  }
  .footer-bottom {
    height: px;
  }
}
