* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  min-height: 100vh;
  background: black; /* or your preferred color */
  color: white;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}
